<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help - Recover Password</title>
</head>
<body>
    <div class="how-to-recover-password">
        <h2>How To Recover Your Password?</h2>
        <p>1. Try To enter your password in a prompt!</p>
        <img src="{{url_for('static', filename='/images/user_login_screenshot.png')}}"
        alt="User Login Screenshot" width="200px">
        <p>2. Tap Recover password</p>
        <img src="{{url_for('static', filename='/images/user_login_screenshot_2.png')}}"
        alt="User Login Screenshot 2" width="200px">
        <p>3. Enter your email address and tap next</p>
        <img src="{{url_for('static', filename='/images/user_entering_email.png')}}"
        alt="User entering email" width="200px">
        <p>4. An email will be sent to you, check the passcode copy it and paste it to the prompt and tap next.</p>
        <p>5. When valid, you will be sent a temporary password to use to log in</p>
        <p>6. Go to your profile and update your password with the password you can remember</p>
        <p>7. Make sure you tap update and you will be all good to go!</p>
    </div>
    
</body>
</html>